<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kuloud.android.pipe">

    <application>
        <service
            android:name=".PipeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.kuloud.android.pipe.PipeService" />
            </intent-filter>
        </service>
    </application>

</manifest>